* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./Images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* card  */
.card {
  max-width: 400px;
  background: linear-gradient(to bottom, #6eb9c6, #55c1d9, #28d6d9);
  margin: 80px auto;
  padding: 40px 35px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  /* opacity: 0.9; */
}

/* Input and search button */
.search {
  display: inline-block;
  position: relative;
  /* width:120px; */
}

.search input[type="text"] {
  width: 300px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  height: 50px;
  width: 70px;
  background-color: #468fdd;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(0.9);
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 192);
}
#glass-icon {
  font-size: 20px;
}
.weather {
  display: none;
}

/* weather icon */
#weather-icon {
  height: 100px;
  width: 120px;
  margin-top: 30px;
}
#icon {
  font-size: 40px;
  margin-right: 10px;
}
.weather h1 {
  font-size: 70px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.det {
  margin-top: 10px;
}

.col {
  display: flex;
  align-items: center;
  text-align: center;
}
.humidity,
.wind {
  font-size: 25px;
  margin-top: -17px;
}

/* error message section start*/
.tooltip-container {
  position: relative;
  background: var(--background);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 0.4em;
  margin-top: 60px;
  align-items: center;
  display: none;
  /* transition: transform 0.3s;
  transition: transform 0.3s ease-in; */
}
.tooltip-container img {
  height: 170px;
  width: 170px;
}

.tooltip-container:hover{
  transition: transform 0.8s ease-in-out;
  transform: scale(1.04);
}
